*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

html {
    font-size: 62,5%;
    background-repeat:no-repeat;
}

.container {
    display: grid;
    grid-template-rows: 3rem 1fr;
    grid-template-areas: 
    'header'
    'main';
    margin: 0 auto;
    background: #e9ecef;

}

header {
    grid-area: header;
    display: flex;
    background: #20123a;
    color: #fff;
    justify-content:space-between;
    align-items: center;
    box-shadow: 0px 10px 16px -3px rgba(94,94,94,1);
}
header .head-left {

}
header .head-middle, ul{
    display: flex;
    justify-content: center;
    width: 30rem;
    gap: 2rem;
    list-style-type:none;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
}

main .banner {
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;

}
main .banner .banner-left span{
    font-size: 1.5rem;
    font-family: 'Montserrat';
}

main .banner .banner-left t{
    color: #20123a;
    font-size: 2.5rem;
    font-family: 'Dancing Script';
}
main .banner .banner-middle {
    background: url(../img/WhatsApp_Image_2024-10-28_at_13.19.33-removebg-preview.png);
    height: 25rem;
    width: 25rem;
}
main .banner .banner-right {
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 1rem;
    border-right: .2rem solid black;
    border-right-style:dotted;
    padding-right: .5rem;
}

main .about {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    justify-content: center;
}
main .about span:nth-child(1){
    font-size: 3rem;
    border-bottom: .2rem solid black;
    border-bottom-style: dashed;
    width: 15rem;
    margin-left: 5rem;
}
main .about span:nth-child(2){
    margin-top: 1rem;
    margin-left: 9rem;
    margin-right: 8rem;
}
main .skills{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
main .skills span:nth-child(1){
    font-size: 3rem;
    border-bottom: .2rem solid black;
    border-bottom-style: dashed;
    width: 27rem;
    margin-left: 6rem;
    align-self: flex-start;
}

main .skills .skills-icons{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    width: 40rem;
}
main .skills .skills-icons .icon {
    border: .1rem solid black;
    width: 10rem;
    height: 10rem;
    border-radius: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #20123a;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 10px 16px -3px rgba(94,94,94,1);
}
main .skills .skills-icons .icon:nth-child(7) span{
    text-align: center;
}

main .skills .skills-icons .icon .img-icon{
    width: 7rem;
    height: 7rem;
}
main .skills .skills-icons .icon:nth-child(4) .img-icon{
    width: 9rem;
    height: 7rem;
}
main .skills .skills-icons .icon:nth-child(1) .img-icon{
    background-image: url(../img/python.png);
    background-size: cover;
}
main .skills .skills-icons .icon:nth-child(2) .img-icon{
    background-image: url(../img/Csharp_Logo.png);
    background-size: cover;
}
main .skills .skills-icons .icon:nth-child(3) .img-icon{
    background-image: url(../img/javascript-logo-javascript-icon-transparent-free-png.webp);
    background-size: cover;
}
main .skills .skills-icons .icon:nth-child(4) .img-icon{
    background-image: url(../img/9771699c-9db6-41fc-830e-01640308091d.webp);
    background-size: cover;
}
main .skills .skills-icons .icon:nth-child(5) .img-icon{
    background-image: url(../img/1_doAg1_fMQKWFoub-6gwUiQ.png);
    background-size: cover;
}
main .skills .skills-icons .icon:nth-child(6) .img-icon{
    background-image: url(../img/317889.png);
    background-size: cover;
}
main .skills .skills-icons .icon:nth-child(7) .img-icon{
    background-image: url(../img/0236f512-4133-49ef-901c-d7b058ee269b.png);
    background-size: cover;
}
main .skills .skills-icons .icon:nth-child(8) .img-icon{
    background-image: url(../img/sqlalchemy2.png);
    background-size: cover;
}
main .skills .skills-icons .icon:nth-child(9) .img-icon{
    background-image: url(../img/Postgresql_elephant.svg.png);
    background-size: cover;
}
main .contact{
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 35rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}

main .contact button{
    width: 15rem;
    background: #20123a;
    color: #fff;
    height: 2.5rem;
    margin-left: 1rem;
    margin-top: .5rem;
}