header {
    background: #2F3232;
}
main .banner {
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2F3232;
    box-shadow: .4rem 1.1rem 1.3rem 0rem rgba(22, 22, 22, 0.75);

}
main .banner .banner-left span{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    font-family:  'Montserrat';
    text-shadow: .7rem .7rem .7rem rgba(0,0,0,0.6);
}

main .banner .banner-left span:nth-child(1){
    color: #8160c0;
    font-size: 5.5rem;
    font-family: 'Dancing Script';
}
main .banner .banner-middle {
    background: url(../img/WhatsApp_Image_2024-10-28_at_13.19.33-removebg-preview.png);
    height: 25rem;
    width: 25rem;
}
main .banner .banner-right {
    font-size: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-left: 1rem;
    border-right: .5rem solid #20123a;
    border-right-style:dotted;
    padding-right: .5rem;
    align-self: flex-end;
    margin-bottom: 1rem;
}
main .banner .banner-right a{
    color: #fff;
}
main .banner .banner-right a:hover{
    color: #20123a;
}

main .about {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    padding-top: 6rem;
    justify-content: center;
    color: #fff;
}
main .about span:nth-child(1){
    font-size: 3rem;
    width: 15rem;
    margin-left: 5rem;
    font-family:  'Playfair Display';
}
main .about span:nth-child(2){
    margin-top: 1rem;
    margin-left: 9rem;
    margin-right: 8rem;
}
main .skills{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: #fff;
}
main .skills span:nth-child(1){
    font-size: 3rem;
    width: 27rem;
    font-weight: 500;
    font-family:  'Playfair Display';
}

main .skills .skills-icons{
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    width: 40rem;
}
main .skills .skills-icons .icon {
    border: .1rem solid #fff;
    width: 10rem;
    height: 10rem;
    border-radius: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #20123a;
    color: #fff;
    font-weight: bold;
    box-shadow: 0rem 1rem 1.6rem -.3rem rgba(94,94,94,1);
}
main .skills .skills-icons .icon:hover {
    background: #fff;
    color: #20123a;
    font-weight: bold;
    box-shadow: 0rem 1rem 1.6rem -.3rem #20123a;
    transition: .5s;
}
main .skills .skills-icons .icon:nth-child(7) span{
    text-align: center;
}

main .skills .skills-icons .icon .img-icon{
    width: 7rem;
    height: 7rem;
}
main .skills .skills-icons .icon:nth-child(4) .img-icon{
    width: 9rem;
    height: 7rem;
}
main .skills .skills-icons .icon:nth-child(1) .img-icon{
    background-image: url(../img/python.png);
    background-size: cover;
}
main .skills .skills-icons .icon:nth-child(2) .img-icon{
    background-image: url(../img/Csharp_Logo.png);
    background-size: cover;
}
main .skills .skills-icons .icon:nth-child(3) .img-icon{
    background-image: url(../img/javascript-logo-javascript-icon-transparent-free-png.webp);
    background-size: cover;
}
main .skills .skills-icons .icon:nth-child(4) .img-icon{
    background-image: url(../img/9771699c-9db6-41fc-830e-01640308091d.webp);
    background-size: cover;
}
main .skills .skills-icons .icon:nth-child(5) .img-icon{
    background-image: url(../img/1_doAg1_fMQKWFoub-6gwUiQ.png);
    background-size: cover;
}
main .skills .skills-icons .icon:nth-child(6) .img-icon{
    background-image: url(../img/317889.png);
    background-size: cover;
}
main .skills .skills-icons .icon:nth-child(7) .img-icon{
    background-image: url(../img/0236f512-4133-49ef-901c-d7b058ee269b.png);
    background-size: cover;
}
main .skills .skills-icons .icon:nth-child(8) .img-icon{
    background-image: url(../img/sqlalchemy2.png);
    background-size: cover;
}
main .skills .skills-icons .icon:nth-child(9) .img-icon{
    background-image: url(../img/Postgresql_elephant.svg.png);
    background-size: cover;
}
main .contact{
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    width: 35rem;
    flex-wrap: wrap;
    margin-top: 2rem;
}

main .contact button{
    width: 15rem;
    background: #20123a;
    color: #fff;
    height: 2.5rem;
    margin-left: 1rem;
    margin-top: .5rem;
    border-radius: .5rem;
}
main .contact button:hover{
    background: #fff;
    color: #20123a;
    font-weight: bold;
    box-shadow: 0px 10px 16px -3px #20123a;
    transition: .5s;
}